<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li><a class="github" href="https://github.com/misselliev">github</a></li>
      <li><a class="linkedin" href="https://www.linkedin.com/in/ellievillalejos/">linkedin</a></li>
      <li><a class="twitter" href="https://twitter.com/miss_elliev">twitter</a></li>
      <li>© 2019 Eli Villalejos</li>
    </ul>
    <p>© 2019 Eli Villalejos</p>
  </div>
</div>