<%=render 'nav'%>
<div class="jumbotron principal">
  <div class="section">
    <div class="section-title">Contact</div>
    <div class="section-container hover-white">
      <div class="section-info centered-content">
      Is there something I can help you with?<br>
      <span class="highlight">Let's connect!</span>
      </div>
      
      <ul class="social_media centered-content" style="padding-left: 0px;">
          <li><a class="github img-small" href="https://github.com/misselliev">github</a></li>
          <li><a class="linkedin img-small" href="https://www.linkedin.com/in/ellievillalejos/">linkedin</a></li>
          <li><a class="twitter img-small" href="https://twitter.com/miss_elliev">twitter</a></li>
        </ul>
    </div>
  </div>
</div>

<%=render 'footer'%>
