<%=render 'nav'%>
<div class="jumbotron">
  <div class="section">
    <div class="section-title">Contact</div>
    <div class="section-container hover-white">
      <div class="section-info">
      BIO GOES HERE
      </div>
        <ul class="social_media">
          <li><a class="github round img-small" href="https://github.com/misselliev">github</a></li>
          <li><a class="linkedin round img-small" href="https://www.linkedin.com/in/ellievillalejos/">linkedin</a></li>
          <li><a class="twitter round img-small" href="https://twitter.com/miss_elliev">twitter</a></li>
        </ul>
    </div>
  </div>
</div>

<%=render 'footer'%>