
<%= render 'nav'%>
<div class="jumbotron">
  <div class="section">
    <div class="section-title">Portfolio</div>
    <div class="project-box">
      <div id="future" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://stiakov.github.io/Future-Now-Professional-Services/">
      <img class="img-md" src="https://images.unsplash.com/photo-1560836930-def39a01665b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=785&q=80" alt="future"></a>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Future Now - Development services</strong><br>
        Full responsive bussiness page</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="next-web" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://stiakov.github.io/The-Next-Web-Responsive-Design/">
      <img class="img-md" src="https://images.unsplash.com/photo-1560836930-def39a01665b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=785&q=80" alt="next-web"></a>
      <div class="img-description centered-content">
        <div class="text">
        <strong>The Next Web clone site</strong><br> 
        Responsive site based on<br>news website The Next Web</div>
      </div>
    </div>
    </div>
    <div class="project-box">
      <div id="flower" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://gatsby-flower-project.netlify.com/">
      <img class="img-md" src="https://images.unsplash.com/photo-1560836930-def39a01665b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=785&q=80" alt="next-web"></a>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Dulce Flowershop</strong><br> 
        Flowershop website with cart<br>built with Gatsby.js</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="petrichor" class="col-5 col-md-6 col-sm-12 img-content centered-content">
      <a href="https://warm-bayou-34500.herokuapp.com/articles">
      <img class="img-md" src="https://images.unsplash.com/photo-1560836930-def39a01665b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=785&q=80" alt="petrichor"></a>
      <div class="img-description centered-content">
        <div class="text"><strong>Petrichor blog</strong><br>
        Blog site with full user functions<br>
        built witn Ruby on Rails</div>
      </div>
      </div>
    </div>
    
  </div>
</div>
<%= render 'footer'%>
