
<%= render 'nav'%>
<div class="jumbotron">
  <div class="section">
    <div class="section-title">Portfolio</div>
    <div class="project-box">
      <div id="future" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://stiakov.github.io/Future-Now-Professional-Services/">
      <%# <img class="img-md" src="https://previews.dropbox.com/p/thumb/AAeO2GluS7V9C2x93lyOnyiJgw3Aw-43OYmR1wMAyp4nhLXXiwrfIPAxqpTJHMKFEIY7BRx7-mgAgiNILmMnW7Fih8axyghwLlYLkVOLclYAwb5gCgmeJoFye3_fHN2fRICetklrXpfHhfBvSJDY3kkGsItL9_MFmhWO7r5k_XMo7hMSMyl5nt1cTxPDxYF4xTDWrHzzHCISkIh3Fs904Fz6L5RxeBBVj_qAxCKA-2pJCLEVN8MUwcaLSBLl7Wb0um7sJz1N_ER_esnLyktOL1bBpC3rDUxHsvq34b10HfHbqaNqDK09p4u6QRkBmqBDC5qhtKUcRe3inKQO1L3eTsnC/p.png?fv_content=true&size_mode=5" alt="future"></a> %>
      <img class="img-md" src="https://cdn1.imggmi.com/uploads/2019/6/15/dc76b3c31965d865ea55a71f3087f8d9-full.png" alt="future"></a>
      <div class="img-description centered-content">
        <div class="text">
        <strong>Future Now - Web development services</strong><br>
        Full responsive bussiness page</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="next-web" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://stiakov.github.io/The-Next-Web-Responsive-Design/">
      <img class="img-md" src="https://cdn1.imggmi.com/uploads/2019/6/15/928fe811bca301d52fb7b79e77a34d62-full.png" alt="next-web"></a>
      <div class="img-description centered-content">
        <div class="text">
        <strong>The Next Web clone site</strong><br> 
        Responsive site based on<br>news website The Next Web</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="petrichor" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://warm-bayou-34500.herokuapp.com/articles">
      <img class="img-md" src="https://cdn1.imggmi.com/uploads/2019/6/15/328e9ebaa79d27d79902170aba36b92a-full.png" alt="petrichor"></a>
      <div class="img-description centered-content">
        <div class="text"><strong>Petrichor blog</strong><br>
        Blog site with full user functions<br>
        built witn Ruby on Rails</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="newsweek" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://misselliev.github.io/Newsweek-clone/">
      <img class="img-md" src="https://cdn1.imggmi.com/uploads/2019/6/15/26a760ddb9666bee62bfa912403faf01-full.png" alt="newsweek"></a>
      <div class="img-description centered-content">
        <div class="text"><strong>Newsweek clone</strong><br> Built with bootstrap</div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render 'footer'%>
