
<%= render 'nav'%>
<div class="jumbotron">
  <div class="section">
    <div class="section-title">Portfolio</div>
    <div class="project-box">
      <div id="future" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://stiakov.github.io/Future-Now-Professional-Services/">
      <%# <img class="img-md" src="https://previews.dropbox.com/p/thumb/AAeO2GluS7V9C2x93lyOnyiJgw3Aw-43OYmR1wMAyp4nhLXXiwrfIPAxqpTJHMKFEIY7BRx7-mgAgiNILmMnW7Fih8axyghwLlYLkVOLclYAwb5gCgmeJoFye3_fHN2fRICetklrXpfHhfBvSJDY3kkGsItL9_MFmhWO7r5k_XMo7hMSMyl5nt1cTxPDxYF4xTDWrHzzHCISkIh3Fs904Fz6L5RxeBBVj_qAxCKA-2pJCLEVN8MUwcaLSBLl7Wb0um7sJz1N_ER_esnLyktOL1bBpC3rDUxHsvq34b10HfHbqaNqDK09p4u6QRkBmqBDC5qhtKUcRe3inKQO1L3eTsnC/p.png?fv_content=true&size_mode=5" alt="future"></a> %>
      <img class="img-md" src="https://images.unsplash.com/photo-1508534141975-3219f3c8b88f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=788&q=80" alt="test"></a>
      <div class="img-description centered-content">
        <div class="text">TEEEEEEEEEEXT GOES HERE</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="next-web" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://stiakov.github.io/The-Next-Web-Responsive-Design/">
      <img class="img-md" src="https://previews.dropbox.com/p/thumb/AAfow0NK20X8BtCv7EWNwHbsua2__5zHdn5YmEbtE-A-M-uYvKtedxDjtz8XJZ-_C1lBvjzY1m0-lfEB-kt4A5IM2TG9z4aQYgp4CM9_n-ywDLRA8X_TXapSXv-1MILay8s0xuxeUbs6UTVcsYm41yIA000-482x3rluKJw5hvByllkniX3GBj4kPcTbvQxUo_Z1cE_zFj5CzUTpKekBZxAX2INzQWRku0P4FXsW2HtOSo8nGqxZxewjEidexsjNMrBkLH65E8Rc2RNZbvH6Rm8wAt2pgbxemtJHC3DE5CJbfuFMcMNOT92-Nfo5noaQfmvxPDxCNP29zSKQZDqI_omr/p.png?fv_content=true&size_mode=5" alt="next-web"></a>
      <div class="img-description centered-content">
        <div class="text">TEEEEEEEEEEXT GOES HERE</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="petrichor" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://warm-bayou-34500.herokuapp.com/articles">
      <img class="img-md" src="https://previews.dropbox.com/p/thumb/AAe-_7fcV0r2cnFKr14Cor2fVhYbNWirri-L5V2hV2_asmu8_AvgX_in3qokbnarLlcXKQJ-rNWH95TRcoViCT3W95HWke_cLp1c5IUCu4405o6h3WXtXtVkKZ7riAe1ylkuU8I4qz7muzCKLGNhiqnOSZybc1S5tK7mVqLNedLrlhmn5UwszKUjciB6lrJcSFnLxK888xutSvgbIBAtKc8l-UzXlGZtZBX8CBj6Z_2n-FZMh2ixrUPZbp_4wIo742HeFWm4biNbM2R4RI-KUUlc9U7W2qnmuQGCHT8WqP3x03QNJhrq3KThSub2HGtiNE4BMK8nk8fTy6pha0Om62BC/p.png?fv_content=true&size_mode=5" alt="petrichor"></a>
      <div class="img-description centered-content">
        <div class="text">TEEEEEEEEEEXT GOES HERE</div>
      </div>
      </div>
    </div>
    <div class="project-box">
      <div id="newsweek" class="col-md-6 col-sm-6 xol-xs-6 img-content centered-content">
      <a href="https://misselliev.github.io/Newsweek-clone/">
      <img class="img-md" src="https://previews.dropbox.com/p/thumb/AAcJxumgzBihVI4SbFYQaKDCxXFSqchwNja1gt5-pnnLJOJSPBwRxHpHNb5DK12Bb7G9pEqd8VwUjlb7bJ3wa5kAJso39-P2fCV4Vvu6ygP6i3nIuaY0bXjSFextNGJZvBhP142dUenY1DjRxRMwRXoedaE5tq07ypHMus462tERrGJXtOOrqrjgYEG7xlQx7Smno7byetqrQSVY8wLPhdi5WBbecV98yLcjDTTkaI9hT_bhvQNQb2CZqv_WPzfi0skKaiK0DhpdIBBZxG1EoZAMtexdDs_YuvPKohb3Bc7zuggTMRIL8mbbqMmu5jMweUpL1dCHBpHJ4x_Wfmf1k5EQ/p.png?fv_content=true&size_mode=5" alt="newsweek"></a>
      <div class="img-description centered-content">
        <div class="text">TEEEEEEEEEEXT GOES HERE</div>
      </div>
      </div>
    </div>
  </div>
</div>
<%= render 'footer'%>
