<html>

<head>
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300italic,500,700" rel="stylesheet"
    type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link data-turbolinks-track="true" href="/assets/application-f7aa79b389eed3447dbd88f8dcc0b59e.css" media="all"
    rel="stylesheet">
  <script data-turbolinks-track="true" src="/assets/application-4fba09a36c46587a0f07211966615115.js"></script>
  <meta content="authenticity_token" name="csrf-param">
  <meta content="uAcY23u6hXvpzVcc9l3KXZyz7slle4yys3c0VaShOdI=" name="csrf-token">
</head>

<body>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="menu col-xs-8">
          <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="portfolio">Portfolio</a></li>
            <li><a href="https://medium.com/about-codecademy">Blog</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
        <div class="name col-xs-4">
          <h1>Eli Villalejos</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main home">
    <div class="jumbotron">
      <div class="container">
        <h2>Hello. My name is <span class="highlight">Eli Villalejos</span> and I have creative ideas and build websites
        </h2>
        <a class="btn right" href="portfolio">View my Work</a>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <ul class="social_media">
        <li><a class="github" href="#">github</a></li>
        <li><a class="linkedin" href="#">linkedin</a></li>
        <li><a class="twitter" href="#">twitter</a></li>
      </ul>
      <p>© 2019 Eli Villalejos</p>
    </div>
  </div>
</body>

</html>