// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
  font-size: 10px;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/*ANIMATION STYLE*/
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

section {
  text-align:center;
  //background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  color:black;
  font-family:'Courgette';
  font-weight:300;
  font-size:38px;
  padding-top:18vh;
  height:36vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}

// .intro, .intro-slide{
//   text-shadow: 2px 1px 4px dimgrey;
// }

div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

section intro:first-of-type {
  animation: showup 7s infinite;
}

section intro-slide:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

section div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:365px;}
    80% {opacity:1;}
    100% {opacity:0;width:365px;}
}


/*LANDING PAGE*/

.container {
  //padding: 0 200px 0 280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.menu ul {
  list-style: none;
  padding-left: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
.menu li {
  display: inline;
  line-height: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 100px;
  height: 100px;
  margin: 0 20px 0 0;
}
.menu li a {
  color: #000;
}
a {
  text-decoration: none;
  background-color: transparent;
}
.name h1 {
  color: #000;
  font-size: 30px;
  line-height: 100px;
  height: 100px;
  margin: 0;
  text-align: right;
  font-family: 'Courgette', cursive;
}
.main {
  width: 100%;
}

.principal{
  height: 85vh;
}
.jumbotron{
  background: url(https://images.unsplash.com/photo-1503517094625-5bfb5286f8bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1524&q=80) center center;
  background-size: auto;
  background-size: cover;
  min-height: 500px;
  width: 100%;
  margin-bottom: 0px;
}
.home h2 {
  color: #333;
  font-size: 32px;
  font-family: 'Courgette', cursive;
}
.highlight {
  background-color: #eaeff4;
  color: #000;
  padding: 0 10px 0;
}
a.btn {
  background-color: rgba(0,0,0,0.9);
  border-radius: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  height: 60px;
  line-height: 60px;
  margin: 40px 0;
  padding: 0;
  transition: background-color .5s;
  width: 200px;
}
.right {
  float: right;
}
.btn-hover:hover{
  color: lightcoral !important;
}
/*PORTFOLIO STYLING*/
.section-padding {
  padding: 60px 0px;
}
.project-box{
  margin: 20px;
  padding: 7px;
  border-radius: 15px;
  background-color: #eaeaea;
  opacity: 0.9;
  box-shadow: 9px 9px 5px dimgrey;
}

img:hover{
  opacity: -0.5;
}

.img-description{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #eaeaea;
}
.text {
  color: rgb(51, 50, 50);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.project-box:hover .img-description {
  opacity: 0.9;
}

.square-box {
  position: relative;
  width: 100%;
  /* desired width */
  box-sizing: border-box;
  min-height: 100%; 
}
.square-box-min {
  position: relative;
  width: 50%;
  /* desired width */
  box-sizing: border-box;
  min-height: 100%; }

.square-box:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.project-title{
  display: flex;
  color: black;
}
.img-content {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%; }

/*ABOUT*/
.section{
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto; 
  width:80%;
}
.section-icons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 20px;
} 
.img-small{
  width: 6rem;
  height: 6rem; 
}
.img-md{
  width: 40rem;
  height: 30rem;
}
.round{
  border-radius: 50%;
}
.section-title{
  text-shadow: 2px 1px 6px dimgrey;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 56px;
  width: 100%;
  color:black;
  font-family:'Courgette';
}
.section-container{
  width: 100%;
  color: #eaeaea;
  background: orange;
  opacity: 0.9;
  border: 0.5px solid #c8c8c8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px 5px 5px #b4b3b3;
  margin-top: 15px;
  margin-bottom: 15px;
}
.section-info{
  width: 90%;
  font-size: 1.3rem;
  line-height: 38px;
  margin-right: auto;
  margin-left: auto;
  color:black;
  text-align: center;
}

/*FOOTER STYLES*/
.footer {
  background-color: #fff;
  height: 50px;
  text-align: right;
  width: 100%;
}
.footer .social_media {
  margin: 15px 0 20px;
  width: 100%;
}
.footer .container{
  padding: 0;
}
.social_media li {
  display: inline-block;
  height: 24px;
  margin: 0 0 0 10px;
  text-align: left;
  text-indent: -9999px;
  width: 24px;
}
.social_media li a {
  display: block;
  height: 24px;
  width: 24px;
}
.github {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/github-edc899c60c7b3afd0c458e648197f578.svg);
  background-position: center center;
}
.linkedin {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/linkedin-be22eb82414f9f637debbe2d64c301cb.svg);
  background-position: center center;
}
.twitter {
  background-image: url(https://portfolio-rails-2633.herokuapp.com/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg);
  background-position: center center;
}
p {
  margin: 0 0 10px;
}

/*QUERIES*/
// @media (min-width:768px){
//   .name{
//     visibility: hidden;
//   }
// }